<!DOCTYPE html>
<html lang="zh-TW">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/player.css">
  <link rel="stylesheet" href="/css/nav.css">
  <link rel="shortcut icon" href="/img/oldrank.png" type="image/x-icon">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <!-- jQUERY -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <!-- jQUERY -->

  <link href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" rel="stylesheet">

  <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>

  <!-- Tailwind CSS -->
  <script src="https://cdn.tailwindcss.com"></script>

  <!-- DataTables Tailwind CSS -->
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.tailwindcss.min.css">
  <script src="https://cdn.datatables.net/1.13.6/js/dataTables.tailwindcss.min.js"></script>


  <!-- fixed col -->
  <link rel="stylesheet" href=https://cdn.datatables.net/fixedcolumns/4.3.0/css/fixedColumns.dataTables.min.css">
  <script src="https://cdn.datatables.net/fixedcolumns/4.3.0/js/dataTables.fixedColumns.min.js"></script>
  <!-- fixed col -->

  <!-- 表格拖拉 -->
  <link rel="stylesheet" href="https://cdn.datatables.net/colreorder/1.7.0/css/colReorder.dataTables.min.css">
  <script src="https://cdn.datatables.net/colreorder/1.7.0/js/dataTables.colReorder.min.js"></script>
  <!-- 表格拖拉 -->

</head>

<body>
  <a href="https://SiteStates.com" title="站長工具" style="display: none;">
    <img src="https://SiteStates.com/show/image/33556.jpg" border="0" />
  </a>
  <input type="checkbox" id="menu-switch">
  <header class="main-header">
    <div class="logo">
      <a href="/">
        TCRS
      </a>
    </div>

    <label for="menu-switch" class="hb icon">
      <i class='bx bx-menu open'></i>
      <i class='bx bx-x close'></i>
    </label>

    <nav class="main-nav">
      <a class="click" href="/">首頁</a>
      <a class="click" href="/players">生涯紀錄</a>
      <a class="click" href="/players/leaderboard">天梯紀錄</a>
      <a class="click" href="/players/badges">徽章紀錄</a>



    </nav>
  </header>
  <div class="container">
    <h1><%= title %> <img class="leaderboardTitleIcon" src="/img/battle.png" alt=""></h1>

    <div class="info-section">
      <!-- 季度選擇器 -->
      <div class="season-selector">
        <label for="seasonSelect">選擇季度：</label>
        <select id="seasonSelect">
          <% availableSeasons.forEach(function(season) { %>
          <option value="<%= season %>" <%= currentSeason === season ? 'selected' : '' %>>
            <%= season %>
          </option>
          <% }); %>
        </select>
      </div>

      <div>
        <p class="info-text">
          <% if (players.length > 0) { %>
          更新時間: <%= players[0].time %> | 資料筆數: <%= players.length %>
          <% } else { %>
          目前沒有資料
          <% } %>
        </p>
      </div>
    </div>

    <!-- 顯示玩家列表 -->
    <table id="myTable" class="display">
      <thead>
        <tr>
          <th>名稱</th>
          <th>戰旗收集</th>
          <th>表情收集</th>
          <th>經典12勝</th>
          <th>終極12勝</th>
          <th>2v2</th>
          <th>驟死賽</th>
          <th>雙倍聖水</th>
          <th>選卡模式</th>
          <th>CRL2018</th>
          <th>CRL2019</th>
          <th>CRL2022</th>
          <th>CRL2023</th>
          <th>CRL2024</th>
          <th>CRL2025</th>
        </tr>
      </thead>
      <tbody>
        <% players.forEach(function(player) { %>
        <tr>
          <td><%= player.name %></td>
          <td><%= player.badges.BannerCollection.progress || 0 %></td>
          <td><%= player.badges.EmoteCollection.progress || 0 %></td>
          <td><%= player.badges.Classic12Wins.progress || 0 %></td>
          <td><%= player.badges.Grand12Wins.progress || 0 %></td>
          <td><%= player.badges['2v2'].progress || 0 %></td>
          <td><%= player.badges.SuddenDeath.progress || 0 %></td>
          <td><%= player.badges.RampUp.progress || 0 %></td>
          <td><%= player.badges.Draft.progress || 0 %></td>
          <td><%= player.badges.Crl20Wins.progress || 0 %></td>
          <td><%= player.badges.Crl20Wins2019.progress || 0 %></td>
          <td><%= player.badges.Crl20Wins2022.progress || 0 %></td>
          <td><%= player.badges.Crl20Wins2023.progress || 0 %></td>
          <td><%= player.badges.Crl20Wins2024.progress || 0 %></td>
          <td><%= player.badges.Crl20Wins2025.progress || 0 %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>
    <script src="https://SiteStates.com/show/js_text/49bcb5c0fd457f7a07d5fba4e343a5bf" type="text/javascript"></script>

  </div>
  <script src="/js/datatable.js"></script>
</body>

</html>